<div class="m-4">
  <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
    <%= form_with url: category_question_results_path, method: :post do |f| %>
      <% @questions.each_with_index do |question, question_number| %>
        <div class="text-3xl font-bold">
          <%= "問題#{question_number + 1}."%> <%= content_tag :span, question.body, class: "text-base font-normal" %>
        </div> 
        <%= question.title %>
        <% if question.question_audio? %>
          <%= audio_tag question.question_audio.url, controls: true %>
        <% end %>
        <% question.answers.each do |answer| %>
          <div class="flex items-center mb-4">
            <%= f.radio_button :"answers[#{question.id}][id]", answer.id %>
            <%= f.label answer.body, class: "block ml-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
          </div>
        <% end %>
      <% end %>
      <div class= "text-center">
        <%= f.submit (t ".submit"), class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5" %>
      </div>
    <% end %>
  </div>
</div>