<h1>New User</h1>

<%= form_with model: @user do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :role %>
    <%= f.collection_select :role, User.roles.keys, :to_s, :humanize %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %> 
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= f.submit 'Create User' %>
    <%= link_to 'Cancel', admin_users_path %>
  </div>
<% end %>
