<!DOCTYPE html>
<html>
  <head>
    <title><%= "開心中文" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

  <div id="nav">
    <%= link_to (t "defaults.top"), root_path %>
    <% if current_user %>
      <%= link_to (t "defaults.profile"), "#" %>
      <%= link_to (t "defaults.logout"), :logout, data: { turbo_method: :post } %>
    <% else %>
      <%= link_to (t "defaults.register"), new_user_path %> |
      <%= link_to (t "defaults.login"), :login %>
    <% end %>
  </div>
    <%= render 'shared/flash_message' %>
    <%= yield %>
  </body>
</html>
